<!DOCTYPE html>
<html>

<body>
    <div>
        <p><b>id:</b>{{ event.id }}</p>
        <p><b>user_id:</b>{{ event.user_id }}</p>
        <p><b>name:</b>{{ event.name }}</p>
        <p><b>category:</b>{{ event.category }}</p>
        <p><b>place:</b>{{ event.place }}</p>
        <p><b>address:</b>{{ event.address }}</p>
        <p><b>start_datetime:</b>{{ event.start_datetime }}</p>
        <p><b>end_datetime:</b>{{ event.end_datetime }}</p>
        <p><b>is_virtual:</b>{{ event.is_virtual }}</p>
    </div>
</body>