<!DOCTYPE html>
<html>

<body>
    <div>
        <p><b>id: </b>{{ event.id }}</p>
        <p><b>id de usuario: </b>{{ event.user_id }}</p>
        <p><b>Nombre: </b>{{ event.name }}</p>
        <p><b>Categoría: </b>{{ event.category }}</p>
        <p><b>Lugar: </b>{{ event.place }}</p>
        <p><b>Dirección: </b>{{ event.address }}</p>
        <p><b>Fecha y hora de inicio: </b>{{ event.start_datetime }}</p>
        <p><b>Fecha y hora de finalización: </b>{{ event.end_datetime }}</p>
        <p><b>¿Es virtual?: </b>{{ event.is_virtual }}</p>
    </div>
    <p><a href="{{url_for('home')}}">Regresar</a></p>
</body>