<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>

<body>
    <div class="container py-4 text-center">
        <h1>Welcome {{ current_user.username }}</h1>
        <a href="{{url_for('logout')}}">Logout</a>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Fecha de inicio</th>
                <th>Fecha de finalización</th>
            </tr>
            {% for event in events %}
                <tr>
                    <th>{{ event.name }}</th>
                    <th>{{ event.start_datetime }}</th>
                    <th>{{ event.end_datetime }}</th>
                </tr>
            {% endfor%}
        </table>
    </div>
</body>